<%- @title = "Sass Extension Registry Sign Up" %>
<%- @h1 = "Create account" %>
<%- @selected = :signup %>

<%- if devise_mapping.omniauthable? %>
  <div class="either-or-grid">
    <div class="either-or-col1">
<%- end %>

<h2><%= @h1 || @title %></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field 'name', class: 'textbox', size: 42, autofocus: true %>
    <%= f.label :email %>
    <%= f.email_field 'email', class: 'textbox', size: 42 %>
  <div class="set">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'textbox', size: 18 %>
      <%= f.label :password_confirmation, "Type password again" %>
      <%= f.password_field :password_confirmation, class: 'textbox', size: 18 %>
  </div>
  <p class="buttons">
    <button type="submit">Sign up</button>
  </p>
<% end %>

<%- if devise_mapping.omniauthable? %>
    </div>
    <div class="either-or-divider"></div>
    <div class="either-or-col2 text-center">
      <%= link_to "Signup with GitHub", omniauth_authorize_path(resource_name, 'github'), class: "button github-button" %>
    </div>
  </div>
<%- end %>
