<tr>
  <% unless true #defined? hide_screenshot && hide_screenshot %>
    <td class="screenshot">
      <%= image_tag extension.screenshot.url(:thumb), :width=>120 %>
    </td>
  <% end %>
  <td class="info">
    <div class="name">
      <%= link_to extension.name, extension %>
      <% unless defined? hide_edit && hide_edit %>
        <%= link_to "Edit", edit_extension_path(extension), :class=>"action" if can_edit?(extension) %>
      <% end %>
    </div>
    <div class="description">
      <%= extension.description %>
    </div>
    <div class="meta">
      <% unless extension.supports.blank? %>
        <span class="supports">
          Supports
          <%= extension.supports %>
        </span>
      <% end %>
      <% unless defined? hide_author && hide_author %>
        <span class="authored">
          by
          <%= link_to_author extension.author %>
        </span>
      <% end %>
    </div>
  </td>
</tr>
