<div class="extension">
  <% unless defined? hide_screenshot && hide_screenshot %>
    <div class="extension-image">
      <%= image_tag extension.screenshot.url(:thumb), :width=>120 %>
    </div>
  <% end %>
  <%= link_to extension.name, extension, :class=>"extension-name"%>
  <% unless defined? hide_edit && hide_edit %>
    <%= link_to "Edit", edit_extension_path(extension), :class=>"action" if can_edit?(extension) %>
  <% end %>
  <div class="extension-text"><%= short_description(extension.description) %></div>
  <% unless defined? hide_author && hide_author %>
    <div class="authored">
      by <%= link_to_author extension.author, :class=>"extension-author" %>
      <%= @extension.updated_at.to_date.to_s(:long) %>
    </div>
  <% end %>
</div>