<%- @title = "Import a Sass Extension from GitHub" %>
<%- @h1 = "Import Extension" %>
<%- @selected = :extensions %>

<h2><%= @h1 || @title %></h2>

<%= flash[:errors].to_a.first %>

<%= form_tag extensions_path, method: 'post' do |f| %>
  <p>
    <%= label_tag :project_url, "GitHub project URL" %>
    <%= text_field_tag :project_url %>
  </p>
  <p class="buttons">
    <button type="submit">Add Extension</button>
    or
    <%= link_to "Cancel", extensions_path, :class => "cancel" %>
  </p>
<% end %>
