<%- @title = "Sass Extensions" %>
<%- @h1 = (controller.action_name == 'index') ? "Extensions" : "All Extensions" %>
<%- @selected = :extensions %>

<h2><%= @h1 || @title %></h2>
<% content_for :actions do %>
  <%= link_to "Add Extension", import_extension_path, :class => "button" %>
<% end %>

<div class="view_order">
  Sort by:
  <%= view_orders @order %>
</div>
  
<div class="records_count">
  <%= record_count_for @extensions, Extension %>
</div>

<%= pagination_for @extensions %>

  <div class="extensions">
    <%= render partial: "extension", collection: @extensions %>
  </div>

<%= pagination_for @extensions %>
