<%- @title = "Sass Extension Registry" %>
<%- @h1 = '' %>
<%- @selected = :home %>

<% content_for :pageheader do %>
  <h1>Find, Browse, &amp; Share&#8230;</h1>
<% end %>

<% content_for :search do %>
  <%= form_tag search_path, :method => "get", :id => "search" do %>
    <p>
      <!-- <label for="q">Search</label> -->
      <input class="search" name="q" id="q" type="text" placeholder="Search for extensions">
    </p>
  <% end %>
<% end %>

<% content_for :hero do %>
  <div class="hero-lockup">
    <div class="hero-image">
      <img src="/assets/illustrations/plug.png">
      <p class="introduction">
        Sass extensions for almost every need.
        Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
      </p>
    </div>
  </div>
<% end %>

<aside class="secondary-info">
<h3>New Extensions</h3>

<table id="extensions" class="index mini">
  <tbody>
    <%= render :partial => "extensions/extension", :collection => @extensions, :locals => { :hide_author => true } %>
  </tbody>
</table>

<%= link_to "More Extensions", extensions_path, :class=>"button" %>
</aside>

<aside class="secondary-info">
  <h3>Extension Authors</h3>
  
  <table id="authors" class="index mini" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <% for author in @authors %>
        <tr>
          <td class="avatar"><%= image_tag gravatar_url(author.email), :width=>64, :height=>64, :alt=>"" %></td>
          <td class="info">
            <div class="name">
              <%= link_to_author author %>
              <% unless defined? hide_edit && hide_edit %>
                <%= link_to "Edit", edit_author_path(author), :class=>"action" if can_edit?(author) %>
              <% end %>
            </div>
            <div class="extensions_count">
              <%= pluralize(author.extensions_count, "extension") %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "More Authors", authors_path, :class=>"button" %>
</aside>
