<%- @title = "Sass Extension Registry" %>
<%- @h1 = '' %>
<%- @selected = :home %>

<% content_for :pageheader do %>
  <h1>Find, browse, &amp; share&#8230;</h1>
<% end %>

<% content_for :search do %>
  <%= form_tag search_path, :method => "get", :id => "search" do %>
    <p>
      <!-- <label for="q">Search</label> -->
      <input class="search" name="q" id="q" type="text" placeholder="Search for extensions">
    </p>
  <% end %>
<% end %>

<section class="section">
<h2>Recent Extensions</h2>

  <div class="extensions">
    <%= render :partial => "extensions/extension", :collection => @extensions, :locals => { :hide_author => true } %>
  </div>

  <div class="actions">
    <i class="fa fa-arrow-circle-right"></i> <%= link_to "Browse all Extensions", extensions_path %>
    <i class="fa fa-plus-circle"></i> <%= link_to "Add your extensions", import_extension_path %>
  </div>
</section>

<section class="section">
  <h2>Extension Authors</h2>
  <div class="authors">
    <% for author in @authors %>
      <div class="author">
        <div class="author-avatar"><%= link_to(image_tag gravatar_url(author.email), :width=>64, :height=>64, :alt=>"")%></div>
        <div class="author-details">
          <%= link_to_author author %><br/>
          <%= pluralize(author.extensions_count, "extension") %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <p><i class="fa fa-arrow-circle-right"></i> <%= link_to "Browse all Extension Authors", authors_path %></p>
  </div>
</section>