<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--<%= typekit_include_tag "pya1hgl" %>-->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site">

    <div class="pop-stripe"></div>

    <header class="banner" role="banner">
      <div class="container">
        <h1 class="site-brand"><%=link_to(image_tag("logo.png", :height => "96", :alt => "Sass"), root_path) %></h1>
          <nav class="navigation collapse" role="navigation">
            <ul>
              <li><%= link_to "Install", "http://sass-lang.com/install" %></li>
              <li><%= link_to "Learn Sass", "http://sass-lang.com/guide" %></li>
              <li><%= link_to "Documentation", "http://sass-lang.com/documentation/file.SASS_REFERENCE.html" %></li>
              <li><%= link_to "Extensions", root_path %></li>
              <li><%= link_to "Get Involved", "http://sass-lang.com/community" %></li>
            </ul>
          </nav>
       <div class="banner-toggle">
          <!-- <button data-target='.navigation' data-toggle='collapse' type='button'> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </div>
    </header>

    <% if content_for? :pageheader %>
      <div class='page-header'>
        <div class='container'>
          <%= yield :pageheader %>
        </div>
      </div>
    <% end %>

    <% if content_for? :search %>
       <div class="search-bar">
          <%= yield :search %>
      </div>
    <% end %>

      <div class='body'>
        <div class='container'>
          <div class='content'>
            <main class='main' role='main'>
              <% if content_for? :hero %>
                <div class="heading">
                  <%= yield :hero %>
                </div>
              <% end %>
              <div id="content">
                <% flash.keys.each do |key| %>
                  <p id="<%= key %>"><%= flash[key] %>
                <% end %>
                <% if content_for? :actions %>
                  <div id="actions">
                    <%= yield :actions %>
                  </div>
                <% end %>
                <%= yield %>
              </div>
             </main>
          </div>
        </div>
      </div>
    
    <div class="push"></div>

  </div>

  <footer>
    <div class="footer">
      <% unless @selected == :signin %>
        <div class="account_links">
          <% if user_signed_in? %>
            Welcome back <%= link_to current_user, edit_user_path(current_user), :class => (@selected == :profile ? "here" : nil) %>!
            &nbsp;
            <%= link_to "Sign out", logout_path, method: 'delete' %>
          <% else %>
            <%= link_to "Sign in with GitHub", omniauth_authorize_path('user', 'github'), class: "button github-button" %>
          <% end %>
        </div>
      <% end %>
      <p>
        The <a href="http://github.com/sass/sass-registry">source code</a> for this website is available on GitHub.
        Please direct bug reports, feature requests, and comments to the GitHub <a href="http://github.com/sass/sass-registry/issues">issue tracker</a>.
      </p>
    </div>
  </footer>

</body>
</html>
