<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header_wrapper">
    <div id="header">
      <div id="logo">
        <div class="title">Sass</div>
        <div class="subtitle">Extension Registry</div>
        <div class="parent_site"><%= link_to "Sass-Lang.org", "http://sass-lang.org" %></div>
      </div>
    </div>
  </div>

  <div id="navigation_wrapper">
    <div id="navigation">
      <div class="account_links">
        <% if user_signed_in? %>
          Welcome back <%= link_to current_user, edit_user_path(current_user), :class => (@selected == :profile ? "here" : nil) %>!
          &nbsp;
          <%= link_to "Logout", logout_path, method: 'delete' %>
        <% else %>
          <%= link_to "Signup", signup_path, :class => ("here" if @selected == :signup) %>
          or
          <%= link_to "Login", login_path, :class => ("here" if @selected == :login) %>
        <% end %>
      </div>
      <ul class="primary_links">
        <li id="index_link" class="<%= "here" if @selected == :home %> "><%= link_to "Home", root_path %></li>
        <li id="extensions_link" class="<%= "here" if @selected == :extensions %> "><%= link_to "Extensions", extensions_path %></li>
        <li id="authors_link" class="<%= "here" if @selected == :authors %> "><%= link_to "Authors", authors_path %></li>
        <li id="search_link" class="<%= "here" if @selected == :search %> "><%= link_to "Search", search_path %></li>
      </ul>
    </div>
  </div>

  <% if content_for? :head %>
    <div id="head_wrapper">
      <div id="head">
        <%= yield :head %>
      </div>
    </div>
  <% end %>

  <div id="main_wrapper">
    <div id="main" class="<%= "content_with_sidebar" if content_for? :sidebar %>">
      <div id="content">
        <% flash.keys.each do |key| %>
          <p id="<%= key %>"><%= flash[key] %>
        <% end %>
        <% if content_for? :actions %>
          <div id="actions">
            <%= yield :actions %>
          </div>
        <% end %>
        <% unless (@h1 || @title).blank? %>
          <h1><%= @h1 || @title %></h1>
        <% end %>
        <%= yield %>
      </div>
      <% if content_for? :sidebar %>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="footer_wrapper">
    <div id="footer">
      <p>
        The <a href="http://github.com/sass/sass-registry">source code</a> for this website is available on GitHub.
        Please direct bug reports, feature requests, and comments to the GitHub <a href="http://github.com/sass/sass-registry/issues">issue tracker</a>.
      </p>
    </div>
  </div>

</body>
</html>
